body {
    font: 13px/18px "Lucida Grande", verdana, sans-serif;
    background: #171d25;
    color: #fff;
    position: relative;
    overflow: hidden;
    height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.logo {
    width: 150px;
    position: absolute;
    left: 20%;
    top: 20%;
}
.logo span {
    -webkit-animation-name: flash-letter;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2400ms;
    -webkit-animation-duration: 3.2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: none;
    font-size: 18px;
}
.logo .E {
  -webkit-animation-delay: 0ms;
}
.logo .t {
  -webkit-animation-delay: 100ms;
}
.logo .e1 {
  -webkit-animation-delay: 200ms;
}
.logo .r1 {
  -webkit-animation-delay: 300ms;
}
.logo .p {
  -webkit-animation-delay: 400ms;
}
.logo .r2 {
  -webkit-animation-delay: 500ms;
}
.logo .i {
  -webkit-animation-delay: 600ms;
}
.logo .s {
  -webkit-animation-delay: 700ms;
}
.logo .e2 {
  -webkit-animation-delay: 800ms;
}
.wheel-tank {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 470px;
    height: 470px;
}
.zero {
    background: url(../images/circle0.png) no-repeat center;
}
.one {
    background: url(../images/circle1.png) no-repeat center;
      -webkit-animation-direction: reverse;
}
.two {
    background: url(../images/circle2.png) no-repeat center;
}
.wheel {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: none;
    -webkit-animation-delay: 700ms;
    -webkit-animation-duration: 70s;
    -webkit-animation-name: spin;
}
@-webkit-keyframes spin {
    0%{
        -webkit-transform:rotateZ(0);
        transform:rotateZ(0)
    }
    100%{
        -webkit-transform:rotateZ(360deg);
        transform:rotateZ(360deg)
    }
}
@-webkit-keyframes flash-letter {
    0%{opacity:0.35}
    30%{opacity:0.8}
    40%{opacity:0.45}
    100%{opacity:0.21}
}